@model Laboratorio2.Web.Areas.Clienti.EditViewModel
@{
    if (Model.Id != null)
    {
        ViewData["Title"] = SharedLocalizer["Cliente"].Value + " - " + Model.RagioneSocialeONominativo;
    }
    else if (Model.CopyFromId != null)
    {
        ViewData["Title"] = SharedLocalizer["Copia di"].Value + " " + Model.RagioneSocialeONominativo;
    }
    else
    {
        ViewData["Title"] = SharedLocalizer["Inserimento nuovo"].Value + " " + SharedLocalizer["cliente"].Value;
    }
}
@section pageTitle{
    <nav class="navbar navbar-expand navbar-light flex-wrap onit-page-title">
        <div class="navbar-brand text-truncate">
            @ViewData["Title"]
        </div>
        <div class="dropdown ms-auto">
            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuVaiA" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@SharedLocalizer["Collegamenti rapidi"]</button>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuVaiA">
                <h6 class="dropdown-header">@SharedLocalizer["Edit avanzato"]</h6>
                <a href="@Url.Action(MVC.Esempi.Clienti.EditVue(Model.Id?.ToString(), Model?.CopyFromId.ToString()))" class="dropdown-item">@SharedLocalizer["Esempio Edit Vue"]</a>
                @*<a href="#" class="dropdown-item">@SharedLocalizer["Fatture"]</a>
            <a href="#" class="dropdown-item">@SharedLocalizer["Ordini"]</a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">@SharedLocalizer["Altre cose interessanti"]</a>*@
            </div>
        </div>
        <div class="dropdown ms-2 d-xl-none">
            <button class="btn btn-light" type="button" id="dropdownMenuSpostati" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-angles-up"></i></button>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuSpostati">
                <a class="dropdown-item text-wrap" href="#fieldset-datiPrincipali" onclick="javascript:onit.navigateUrlWithoutHystory('#fieldset-datiPrincipali')"><i class="fa-solid fa-angles-up"></i></a>
                <a class="dropdown-item text-wrap" href="#fieldset-contatti" onclick="javascript:onit.navigateUrlWithoutHystory('#fieldset-contatti')">@SharedLocalizer["Contatti"]</a>
                <a class="dropdown-item text-wrap" href="#fieldset-altre-informazioni" onclick="javascript:onit.navigateUrlWithoutHystory('#fieldset-altre-informazioni')">@SharedLocalizer["Altre informazioni"]</a>
            </div>
        </div>
        <button type="button" class="btn btn-light ms-2"><span class="d-inline d-sm-none"><i class="fa-solid fa-floppy-disk"></i></span><span class="d-none d-sm-inline">@SharedLocalizer["Duplica"]</span></button>
        @if (Model.Id != null)
        {
            <div class="dropdown">
                <button class="btn btn-light ms-2" type="button" id="dropdownMenuAltreAzioni" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="@SharedLocalizer["Altre azioni"]"><i class="fa-solid fa-ellipsis-vertical"></i></button>

                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuAltreAzioni">
                    <h6 class="dropdown-header">@SharedLocalizer["Altre azioni"]</h6>
                    <button class="dropdown-item" type="button" onclick="javascript:onit.navigateUrlAndAuthorizeNew('@Url.Action(MVC.Esempi.Clienti.Edit(null,Model.Id.ToString()))')" title="@SharedLocalizer["Inserisci un nuovo elemento"]">
                        <i class="fa-solid fa-copy"></i>&nbsp;@SharedLocalizer["Duplica cliente"]
                    </button>
                    <button class="dropdown-item" type="button">@SharedLocalizer["Emetti fatture"]</button>
                    <button class="dropdown-item" type="button">@SharedLocalizer["Emetti rapportini"]</button>
                    <div class="dropdown-divider"></div>
                    <button class="dropdown-item text-danger" type="button" onclick="document.getElementById('delete-form').submit();">
                        <i class="fa-solid fa-trash"></i>&nbsp;@SharedLocalizer["Elimina"]
                    </button>
                    <form hidden autocomplete="off" id="delete-form" method="post" action="@Url.Action(MVC.Esempi.Clienti.Delete())">
                        <input type="hidden" asp-for="Id" />
                    </form>
                </div>
            </div>
        }
        <button type="button" class="btn btn-success ms-2 px-4" onclick="document.getElementById('edit-form-submitter').click()"><span class="d-inline d-sm-none"><i class="fa-solid fa-floppy-disk"></i></span><span class="d-none d-sm-inline"><i class="fa-solid fa-floppy-disk"></i>&nbsp;@SharedLocalizer["Salva"]</span></button>
    </nav>
}
    @section pageSubtitle{
}
    <div class="onit-page-main">

        @if (Model.CopyFromId != null)
    {
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="alert alert-info">
                        Stai copiando il @SharedLocalizer["Cliente"].Value @Model.RagioneSocialeONominativo premi il tasto salva per confermare i dati inseriti
                    </div>
                </div>
            </div>
        </div>
    }

    @{
        this.SetScrollspyParameters("#navbar-form", 120);
    }

    <nav id="navbar-form" class="nav onit-navbar-scrollspy onit-navbar-scrollspy-container-side-by-side sticky-top">
        <a class="nav-link" href="#fieldset-datiPrincipali" onclick="javascript:onit.navigateUrlWithoutHystory('#fieldset-datiPrincipali')">@SharedLocalizer["Infomazioni generali"]</a>
        <a class="nav-link" href="#fieldset-contatti" onclick="javascript:onit.navigateUrlWithoutHystory('#fieldset-contatti')">@SharedLocalizer["Contatti"]</a>
        <a class="nav-link" href="#fieldset-altre-informazioni" onclick="javascript:onit.navigateUrlWithoutHystory('#fieldset-altre-informazioni')">@SharedLocalizer["Altre informazioni"]</a>
    </nav>

    <div class="container-lg">
        <div class="row">
            <div class="col-12">
                <form autocomplete="off" method="post" class="onit-form-sm" action="@Url.Action(MVC.Esempi.Clienti.Edit())" id="edit-form" onsubmit="onit.debounceLeadingPreventDefault()">
                    <input type="hidden" asp-for="CopyFromId" />
                    <!-- Enables form submit on Enter -->
                    <input id="edit-form-submitter" class="d-none" type="submit" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <fieldset id="fieldset-datiPrincipali" class="onit-navbar-scrollspy-to pb-3">
                        <legend class="sticky-top">@SharedLocalizer["Infomazioni generali"]</legend>
                        <!-- Utilizzo row al posto di row per semplificare l'uso dei margini ridotti tra i componenti https://getbootstrap.com/docs/4.1/components/forms/#row -->
                        <div class="row">
                            <div class="form-group col-md-3 col-lg-4 col-xl-3">
                                <label asp-for="StatoCliente"></label>
                                <select class="form-select form-select-sm" asp-for="StatoCliente" asp-items="Model.StatiCliente"></select>
                                <span asp-validation-for="StatoCliente" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-9 col-lg-8 col-xl-9">
                                <template v-for="(tag, index) in model.tags">
                                    <input type="hidden" v-model="tag.idTag" :name="'Tags['+index+'].IdTag'" />
                                </template>
                                <label>
                                    @SharedLocalizer["Tags"]

                                    <button type="button" class="btn onit-btn-info-circle"
                                            data-bs-toggle="popover"
                                            data-bs-content="@SharedLocalizer["I tag ti permettono di catalogare le informazioni in maniera flessibile. Puoi scegliere i valori che preferisci"]">
                                        <i class="fa-solid fa-info-circle text-info"></i>
                                    </button>
                                </label>
                                <vue-multiselect class="form-select-sm"
                                                 v-model="model.tags"
                                                 placeholder="Aggiungi un tag"
                                                 label="nome"
                                                 track-by="idTag"
                                                 v-bind:options="model.tagsDropDown"
                                                 v-bind:multiple="true"
                                                 v-bind:taggable="true"
                                                 v-bind:internal-search="false"
                                                 v-bind:loading="loadingTags"
                                                 v-on:open="searchTags('', true)"
                                                 v-on:search-change="searchTags"
                                                 v-on:tag="aggiungiTag">
                                </vue-multiselect>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 col-lg-4 col-xl-3">
                                <label asp-for="TipologiaFiscale"></label>
                                <select class="form-select form-select-sm" asp-for="TipologiaFiscale" asp-items="Model.TipologieFiscali" v-model="model.tipologiaFiscale"></select>
                                <span asp-validation-for="TipologiaFiscale" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6 col-lg-8 col-xl-6" v-if="model.tipologiaFiscale==1" v-cloak>
                                <label asp-for="RagioneSociale" class="onit-label-required"></label>
                                <input class="form-control form-control-sm" asp-for="RagioneSociale">
                                <span asp-validation-for="RagioneSociale" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6 col-lg-4 col-xl-3" v-if="model.tipologiaFiscale==2" v-cloak>
                                <label asp-for="Nome" class="onit-label-required"></label>
                                <input class="form-control form-control-sm" asp-for="Nome">
                                <span asp-validation-for="Nome" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6 col-lg-4 col-xl-3" v-if="model.tipologiaFiscale==2" v-cloak>
                                <label asp-for="Cognome" class="onit-label-required"></label>
                                <input class="form-control form-control-sm" asp-for="Cognome">
                                <span asp-validation-for="Cognome" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6 col-lg-4 col-xl-3" v-if="model.tipologiaFiscale==1||model.tipologiaFiscale==2" v-cloak>
                                <label asp-for="CodiceFiscaleOPartitaIVA"></label>
                                <input class="form-control form-control-sm" asp-for="CodiceFiscaleOPartitaIVA">
                                <span asp-validation-for="CodiceFiscaleOPartitaIVA" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 col-lg-4 col-xl-3" v-if="model.tipologiaFiscale==1" v-cloak>
                                <label asp-for="REA"></label>
                                <input class="form-control form-control-sm" asp-for="REA">
                                <span asp-validation-for="REA" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6 col-lg-4 col-xl-3" v-if="model.tipologiaFiscale==1" v-cloak>
                                <label asp-for="CapitaleSociale"></label>
                                <div class="input-group onit-input-group-union">
                                    <vue-currency class="form-control form-control-sm onit-type-number" name="CapitaleSociale" v-model="model.capitaleSociale"
                                                  :currency=null
                                                  :allow-negative=false
                                                  :precision=2
                                                  :distraction-free=false>
                                    </vue-currency>
                                    @*<input type="string" class="form-control form-control-sm" asp-for="CapitaleSociale">*@
                                    <span class="input-group-text"><i class="fa-solid fa-euro-sign"></i></span>
                                </div>
                                <span asp-validation-for="CapitaleSociale" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 col-lg-4 col-xl-3">
                                <label asp-for="Indirizzo"></label>
                                <input class="form-control form-control-sm" asp-for="Indirizzo">
                                <span asp-validation-for="Indirizzo" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-6 col-lg-4 col-xl-3">
                                <label asp-for="CodiceAvviamentoPostale"></label>
                                <input class="form-control form-control-sm" asp-for="CodiceAvviamentoPostale">
                                <span asp-validation-for="CodiceAvviamentoPostale" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-6 col-lg-4 col-xl-3">
                                <label asp-for="Citta"></label>
                                <input class="form-control form-control-sm" asp-for="Citta">
                                <span asp-validation-for="Citta" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-6 col-lg-4 col-xl-3">
                                <label asp-for="Provincia"></label>
                                <input class="form-control form-control-sm" asp-for="Provincia">
                                <span asp-validation-for="Provincia" class="text-danger"></span>
                            </div>
                        </div>

                    </fieldset>
                    <fieldset id="fieldset-contatti" class="onit-navbar-scrollspy-to pb-3">
                        <legend class="sticky-top">@SharedLocalizer["Contatti"]</legend>

                        <div class="row">
                            <div class="form-group col-md-6 col-lg-4 col-xl-3">
                                <label asp-for="Email"></label>
                                <input class="form-control form-control-sm" asp-for="Email">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-6 col-lg-4 col-xl-3 ">
                                <label asp-for="Telefono"></label>
                                <input class="form-control form-control-sm" asp-for="Telefono">
                                <span asp-validation-for="Telefono" class="text-danger"></span>
                            </div>
                        </div>

                    </fieldset>
                    <fieldset id="fieldset-altre-informazioni" class="onit-navbar-scrollspy-to pb-3">
                        <legend class="sticky-top">@SharedLocalizer["Altre informazioni"]</legend>

                        <div class="row">
                            <div class="form-group col-12">
                                <label asp-for="Note"></label>
                                <textarea class="form-control form-control-sm" asp-for="Note" rows="5"></textarea>
                                <span asp-validation-for="Note" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 col-lg-3">
                                <label asp-for="DataPrimoOrdine"></label>
                                <input asp-for="DataPrimoOrdine" class="form-control form-control-sm onit-type-date" type="date" />
                                <span asp-validation-for="DataPrimoOrdine" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-6 col-xl-3">
                                <label asp-for="Colore"></label>
                                <input asp-for="Colore" class="form-control form-control-sm" type="color" />
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="form-group col-md-6 col-lg-4 col-xl-3">
                            </div>
                        </div>
                    </fieldset>
                    <fieldset id="datiFatturazione" class="onit-navbar-scrollspy-to pb-3">
                        <legend class="sticky-top">@SharedLocalizer["Fatturazione"]</legend>

                        <div class="row">

                            <div class="form-group col-md-6 col-lg-4 col-xl-3">
                                <label>@SharedLocalizer["Codice Ateco"]</label>
                                <input class="form-control form-control-sm" name="">
                            </div>

                            <div class="form-group col-md-6 col-lg-4 col-xl-3">
                                <label>@SharedLocalizer["Codice Ateco"]</label>
                                <input class="form-control form-control-sm" name="">
                            </div>

                            <div class="form-group col-md-6 col-lg-4 col-xl-3">
                                <label>@SharedLocalizer["Codice Ateco"]</label>
                                <input class="form-control form-control-sm" name="">
                            </div>

                            <div class="form-group col-md-6 col-lg-4 col-xl-3">
                                <label></label>
                                <div class="form-check form-switch">
                                    <input asp-for="IvaAgevolata" type="checkbox" class="form-check-input">
                                    <label class="form-check-label" asp-for="IvaAgevolata"></label>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="form-group col-md-6 col-lg-4 col-xl-3">
                                <label>@SharedLocalizer["Nominativo"]</label>
                                <input class="form-control form-control-sm" name="">
                            </div>
                            <div class="form-group col-md-6 col-lg-4 col-xl-3">
                                <label>@SharedLocalizer["Contatto telefonico"]</label>
                                <input class="form-control form-control-sm" name="">
                            </div>
                        </div>

                        <div class="row onit-fieldset-box">
                            <div class="col-12 onit-fieldset-box-title">
                                @SharedLocalizer["Configurazione compensi"]
                            </div>

                            <div class="form-group col-md-6 col-lg-4 col-xl-3">
                                <div class="form-check form-switch">
                                    <input type="checkbox" id="riconosceCompensi" name="riconosceCompensi" value="true" class="form-check-input">
                                    <label for="riconosceCompensi" class="form-check-label">@SharedLocalizer["Riconosce compensi"]</label>
                                </div>

                            </div>

                            <div class="col-12">
                                <div class="row onit-fieldset-box">

                                    <div class="col-12 onit-fieldset-box-title">
                                        @SharedLocalizer["Agevolazioni"]
                                    </div>

                                    <div class="form-group col-md-6 col-lg-4 col-xl-3">
                                        <label>@SharedLocalizer["Codice"]</label>
                                        <input class="form-control form-control-sm" name="">
                                    </div>
                                    <div class="form-group col-md-6 col-lg-4 col-xl-3">
                                        <label>@SharedLocalizer["Valore"]</label>
                                        <input class="form-control form-control-sm" name="">
                                    </div>


                                </div>
                            </div>

                            <div class="col-12">
                                <div class="row onit-fieldset-box">

                                    <div class="col-12 onit-fieldset-box-title">
                                        @SharedLocalizer["Compensi extra riconosciuti"]
                                    </div>

                                    <div class="col-12">
                                        <div class="row onit-fieldset-box">

                                            <div class="col-12 onit-fieldset-box-title">
                                                @SharedLocalizer["Pernottamenti"]
                                            </div>

                                            <div class="form-group col-md-6 col-lg-4 col-xl-3">
                                                <label>@SharedLocalizer["Importo a notte in italia"]</label>
                                                <input class="form-control form-control-sm" name="">
                                            </div>

                                            <div class="form-group col-md-6 col-lg-4 col-xl-3">
                                                <label>@SharedLocalizer["Importo a notte in europa"]</label>
                                                <input class="form-control form-control-sm" name="">
                                            </div>

                                            <div class="form-group col-md-6 col-lg-4 col-xl-3">
                                                <label>@SharedLocalizer["Importo a notte nel mondo"]</label>
                                                <input class="form-control form-control-sm" name="">
                                            </div>

                                            <div class="form-group col-md-6 col-lg-4 col-xl-3">
                                                <label>@SharedLocalizer["Importo a notte nella galassia"]</label>
                                                <input class="form-control form-control-sm" name="">
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="row onit-fieldset-box">

                                            <div class="col-12 onit-fieldset-box-title">
                                                @SharedLocalizer["Straordinari"]
                                            </div>

                                            <div class="form-group col-md-6 col-lg-4 col-xl-3">
                                                <label>@SharedLocalizer["Importo per notturno"]</label>
                                                <input class="form-control form-control-sm" name="">
                                            </div>

                                            <div class="form-group col-md-6 col-lg-4 col-xl-3">
                                                <label>@SharedLocalizer["Importo per festivo"]</label>
                                                <input class="form-control form-control-sm" name="">
                                            </div>

                                            <div class="form-group col-md-6 col-lg-4 col-xl-3">
                                                <label>@SharedLocalizer["Importo per festivo notturno"]</label>
                                                <input class="form-control form-control-sm" name="">
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </fieldset>

                </form>
            </div>

        </div>
    </div>
</div>
@section styles{
    <link href="~/css/bundle-vue-multiselect.css" asp-append-version="true" rel="stylesheet" />
}
    @section scripts{
    <script src="/js/bundle-vue.js" asp-append-version="true"></script>
    <script src="~/node_modules/vue-multiselect/dist/vue-multiselect.min.js" asp-append-version="true"></script>
    <script src="~/js/bundle-vue-currency-input.js" asp-append-version="true"></script>
    <script src="~/Areas/Esempi/Clienti/EditModel.js" asp-append-version="true"></script>

    <script type="application/json" id="Seed_JSON">
        @Html.Raw(Model.ToJson())
    </script>
    <script type="text/javascript">

        var editModel = new Esempi.Clienti.editModel(JSON.parse(document.getElementById("Seed_JSON").innerText));

        Vue.component("vue-multiselect", VueMultiselect.Multiselect);
        Vue.component('vue-currency', VueCurrencyInput.CurrencyInput);

        const editStatusEnum = @Html.Raw(EnumExtensions.EnumToString<LineeGuida.Web.Areas.Esempi.Clienti.EditStatus>());
        var vueModel = new Vue({
            el: '#pageId',
            data: editModel,
            computed: {
                EditStatus: () => editStatusEnum
            },
            mounted() {
                var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
                var popoverList = popoverTriggerList.map(function(popoverTriggerEl) {
                    return new bootstrap.Popover(popoverTriggerEl);
                });
            }
        });

    </script>a
}
