@model Laboratorio2.Web.Areas.Clienti.IndexViewModel
@{
    ViewData["Title"] = "Clienti";
}
@section pageTitle{
    <nav class="navbar navbar-expand navbar-light flex-wrap onit-page-title">
        <a class="navbar-brand">
            @ViewData["Title"] <small class="text-muted" title="numero di elementi individuati con i filtri attuali">(@Model.TotaleElementi.ToString("N0"))</small>
        </a>
        <ul class="navbar-nav flex-wrap ms-auto">
            <li>
                <a class="btn btn-light ms-2" href="javascript:onit.navigateUrlAndAuthorizeNew('@Url.Action(MVC.Esempi.Clienti.Edit())')" title="Inserisci un nuovo elemento">
                    <i class="fa-solid fa-plus"></i>&nbsp;Nuovo
                </a>
            </li>
        </ul>
    </nav>
}
@section pageSubtitle{
    <nav class="navbar navbar-expand navbar-light flex-wrap onit-page-subtitle">
        <form method="get" id="annullaRicerca">
        </form>
        <form class="onit-form-search" method="get" autocomplete="off">
            <input asp-for="OrderBy" type="hidden" />
            <input asp-for="OrderByDescending" type="hidden" />
            <div class="row">

                <div class="col-sm-auto onit-form-search-col-auto-2x">
                    <label asp-for="Filtro"></label>
                    <div class="input-group onit-input-group-union">
                        <span class="input-group-text"><i class="fa-solid fa-fw fa-magnifying-glass"></i></span>
                        <input asp-for="Filtro" class="form-control" />
                    </div>
                </div>

                @if (Model.FiltroStatoCliente.HasValue)
                {
                    <div class="col-sm-auto onit-form-search-col-auto-1x">
                        <label asp-for="StatoCliente"></label>
                        <select asp-for="StatoCliente" class="form-select" asp-items="Model.StatiCliente">
                        </select>
                    </div>
                }

                <div class="col-sm-auto pt-2 mt-auto">
                    <button class="btn btn-primary" type="submit">
                        Cerca
                    </button>
                    <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter" title="Mostra più filtri per raffinare la tua ricerca">
                        Più filtri <i class="fa-solid fa-caret-down"></i>
                    </button>
                    <button class="btn btn-link" type="button" title="Annulla tutti i parametri della ricerca" onclick="document.getElementById('annullaRicerca').submit();">
                        Azzera ricerca
                    </button>
                </div>
            </div>


            <div class="collapse" id="collapseFilter">
                <div class="row">
                    @if (!Model.FiltroStatoCliente.HasValue)
                    {
                        <div class="col-sm-auto onit-form-search-col-auto-1x">
                            <label asp-for="StatoCliente"></label>
                            <select asp-for="StatoCliente" class="form-select" asp-items="Model.StatiCliente">
                            </select>
                        </div>
                    }

                </div>
            </div>
        </form>
    </nav>
}
<div class="onit-page-main">
    <div class="container-fluid onit-html-fullscreen-keep-100">
        <div class="row onit-html-fullscreen-keep-100">
            <div class="col-12 p-0 onit-html-fullscreen-keep-100">
                <div class="onit-table-container-for-fixed-column onit-html-fullscreen-keep-100 overflow-auto">
                    <table class="table table-hover table-sm table-striped js-search-highlights">
                        <thead class="onit-table-thead-sticky">
                            <tr>
                                <th class="onit-table-right-fixed-column onit-table-col-minwidth">RagioneSocialeONominativo</th>
                                <th class="onit-table-right-fixed-column onit-table-col-minwidth">RagioneSociale</th>
                                <th class="onit-table-right-fixed-column onit-table-col-minwidth">Indirizzo</th>
                                <th class="onit-table-right-fixed-column onit-table-col-minwidth">Citta</th>
                                <th class="onit-table-right-fixed-column onit-table-col-minwidth">Provincia</th>
                                <th class="onit-table-right-fixed-column onit-table-col-minwidth">CapitaleSociale</th>
                                <th class="onit-table-right-fixed-column onit-table-col-minwidth">DataPrimoOrdine</th>
                                <th class="onit-table-right-fixed-column onit-table-col-minwidth">Stato</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Clienti.Any() == false)
                            {
                                <tr>
                                    <td colspan="8">Nessun elemento trovato con i filtri correnti</td>
                                </tr>
                            }
                            else
                            {
                                @foreach (var cliente in Model.Clienti)
                                {
                                    <tr>
                                        <td scope="row" class="onit-table-left-fixed-column">
                                            <a href="@cliente.UrlEdit" title="Modifica elemento"> @cliente.RagioneSocialeONominativo</a>
                                        </td>
                                        <td class="text-nowrap">@cliente.RagioneSociale</td>
                                        <td class="text-nowrap">@cliente.Indirizzo</td>
                                        <td class="text-nowrap">@cliente.Citta</td>
                                        <td class="text-nowrap">@cliente.Provincia</td>
                                        <td class="text-nowrap">@cliente.CapitaleSociale</td>
                                        <td class="text-nowrap">@cliente.DateDataPrimoOrdineAsString</td>
                                        <td class="text-nowrap">@cliente.Stato</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/css/bundle-vue-multiselect.css" asp-append-version="true" rel="stylesheet" />
}

@section scripts{
    <script src="/js/bundle-vue.js" asp-append-version="true"></script>
    <script src="~/node_modules/vue-multiselect/dist/vue-multiselect.min.js" asp-append-version="true"></script>
    <script src="~/Areas/Esempi/Clienti/Index.js" asp-append-version="true"></script>

    <script type="application/json" id="Seed_JSON">
        @Html.Raw(Model.ToJson())
    </script>

    <script type="text/javascript">
        var indexVueModel = new Esempi.Clienti.IndexVueModel(JSON.parse(document.getElementById("Seed_JSON").innerText), null);

        Vue.component("vue-multiselect", VueMultiselect.Multiselect);

        var vueModel = new Vue({
            el: '#pageId',
            data: indexVueModel
        });

    </script>
}